/* CSS Reset & Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 2;
    color: black;
    font-weight: 400, 700;
}

/* Header Styles */

header{
    background-color: #0f65df;
    background-position: center;
    color: #FFFFFF;

    text-align: center;

    margin-bottom: 40px;
}

header a{
    color: #FFFFFF;
    text-decoration: none;
}

header a:hover{
    color: #E63946;
}

.logo{
    color: #E63946;
    font-size: 20px;
}

.heros { 
    text-align: center;
    padding: 20px 0;
}

.heros p{
    max-width: 600px;
    margin: 0 auto 25px;
    color: #FFFFFF;
}

.heros h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 5px;
}

.navbar {
    background-color: #1D3557;
    padding: 15px 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;

    list-style: none;
    gap: 40px;

    color: #FFFFFF;
}


.underline{
    /* width: 1000px; */
    height: 2px;
    background-color: #E63946;
    margin: 0 auto 20px;
    border-radius: 2px;
}

.topic{
    color: #1D3557;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
}

.card {
    background-color: #F1FAEE;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
}

.trainer-avatar{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 40px;
}

footer{
    background-color: #1D3557;
    color: #FFFFFF;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highlight{
    color: #E63946;
}

.value{
    background-color: #F1FAEE;
    padding: 20px;
    border-radius: 20px;
    /* width: 1000px; */
    margin-bottom: 40px;
}
