/* CSS Reset & Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 2;
    color: black;
    font-weight: 400, 700;
    
}

/* Header styles */

header{
    background-color: #0f65df;
    background-position: center;
    color: #FFFFFF;

    text-align: center;

    margin-bottom: 40px;
}

header a{
    color: #FFFFFF;
    text-decoration: none;
}

header a:hover{
    color: #E63946;
}

.logo{
    color: #E63946;
    font-size: 20px;
}

.heros { 
    text-align: center;
    padding: 20px 0;
}

.heros p{
    max-width: 600px;
    margin: 0 auto 25px;
    color: #FFFFFF;
}

.heros h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 5px;
}

.navbar {
    background-color: #1D3557;
    padding: 15px 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    align-items: center;

    list-style: none;
    gap: 40px;

    color: #FFFFFF;
}

.nav-links{
    color: #E63946;
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.card{
    background-color: #F1FAEE;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.cards{
    background-color: #F1FAEE;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    line-height: 3;
}


.underline{
    /* width: 1000px; */
    height: 2px;
    background-color: #E63946;
    margin: 0 auto 20px;
    border-radius: 2px;
}

.topic{
    color: #1D3557;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

footer{
    background-color: #1D3557;
    color: #FFFFFF;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.highlight{
    color: #E63946;
}

/* Form Section */

.contact-section{
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    border: 2px solid #F1FAEE;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label{
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 14px;
}

.contact-form input, .contact-form textarea, .contact-form select{
    width: 100%;
    padding: 12px 14px;
    font-size: 16px;
    border: 1px solid #cecece;
    border-radius: 5px;
}


.head{
    color: black;
    border: 2px solid #F1FAEE;
}

.btn{
    display: inline-block;
    padding: 10px 10px ;
    background-color: #E63946;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: x;
    border: none;
    cursor: pointer;
}
